%table
  %caption Listing of Weeks
  %tr
    %th Name
    %th Sat
    %th Sun
    %th Mon
    %th Tue
    %th Wed
    %th Thu
    %th Fri
    %th{:colspan => 3} Options
  - for week in @weeks
    %tr
      %td= week.name
      %td= week.sat.name
      %td= week.sun.name
      %td= week.mon.name
      %td= week.tue.name
      %td= week.wed.name
      %td= week.thu.name
      %td= week.fri.name
      %td= link_to "delete", :controller => :template, :action => :delete_week, :id => week.id
      %td= link_to "view/edit", :controller => :template, :action => :week, :id => week.id
      %td= link_to "rename week", :controller => :template, :action => :edit_week, :id => week.id

