%p
  = flash[:notice]
= #form_remote_tag :url => {:controller => "template", :action => "change_day"},:html => { :action => url_for(:controller => "template", :action => "change_day")} do
= form_tag :controller => "template", :action => "change_day" do #},:html => { :action => url_for(:controller => "template", :action => "change_day")} do
   %table{:border=>1, :style=>'table-layout:fixed;'}
    %caption Template #{@wtemplate.name}
    %tr
      %td
        = submit_tag "update"
    %tr
      %td
        %table{:border=>1}
          %tr
            %td
              %table{:border=>1}
                %caption Date
                %tr<
                  %td<
                    &nbsp;
                %tr<
                  %td<
                    &nbsp;
                - for x in TIME_SLOTS do
                  %tr<
                    %td<
                      =x
            - for x in 1..7 
              %td<
                = render :partial => "template_select", :locals => {:x => x, :dtemp => [@wtemplate.sat, @wtemplate.sun, @wtemplate.mon, @wtemplate.tue, @wtemplate.wed, @wtemplate.thu, @wtemplate.fri][x-1]}
