%td
  %table{:border => 1}
    %tr
      %caption.day_link{:colspan => 4}
        = link_to_cal(day.strftime(fmt='%a, %b %d, %Y'), day)
        = link_to "(Edit)", {:controller => :calendar, :action => :edit,  |
        :year => day.year, :month => day.month, :day => day.day}          |
    %tr
      %td{:colspan => 4}
        - if admin?
          &nbsp;
        - else
          :erb
            <a onclick="Effect.toggle('<%="admin_options_#{day.strftime(fmt='%Y%m%d')}" %>','slide',{duration:.5});; return false;" href="#">Admin Options</a>
            <%= "<div id=\"admin_options_#{day.strftime(fmt='%Y%m%d')}\", style=\"display: none;\">"%>
          %ul
            %li
              = link_to "Empty The Day",     |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => nil}                 |
            %li
              = link_to "Close The Day",     |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => -2}                 |
            %li
              = link_to "Close At 5",        |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "close_at_5"}     |
            %li
              = link_to "Close At 7",        |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "close_at_7"}     |
            %li
              = link_to "Block Col 1",       |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => -1,                  |
                :col => 1}                   |
            %li
              = link_to "Block Col 2",       |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => -1,                  |
                :col => 2}                   |
            %li
              = link_to "Block Col 3",       |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => -1,                  |
                :col => 3}                   |
            %li
              = link_to "Block Col 4",       |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => -1,                  |
                :col => 4}                   |
            %li
              = link_to "Open Col 1",        |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => nil,                 |
                :col => 1}                   |
            %li
              = link_to "Open Col 2",        |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => nil,                 |
                :col => 2}                   |
            %li
              = link_to "Open Col 3",        |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => nil,                 |
                :col => 3}                   |
            %li
              = link_to "Open Col 4",        |
                :controller => :calendar,    | 
                :action => :admin_edit,      |
                :params => {:day => day,     | 
                :method => "alter_block",    |
                :uid => nil,                 |
                :col => 4}                   |
    %tr
      %td
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    - for row in ALL_TIMES.index(START_TIME)..ALL_TIMES.index(END_TIME)
      = render :partial => "schedrow", :locals => {:row => row-1, :day => Day.find_by_date(day)}

      