<%=@day.date%>
<% if admin? %>
<table border=1>
	<tr>
		
	<%for stat in @slots%>
	<td>
	<%for st in stat%> 
	st[0] = <%=st[0]%> | st[1] = <%=st[1]%><br/>
	<%end%>
	</td>
	<%end%>
	
	</tr>
</table>
<% else %>
 Rows: <%= @rows%>
 <br />
 SA: <%= @sa %>
 <br />
 SB: <%= @sb %>
 <br />
 SC: <%= @sc %>
 <br />
 SD: <%= @sd %>
 <br />
 SE: <%= @se %>
<% end %>