%h1 Error!
%p=params[:error]

%a{:href => "https://serafina.labs.is.wccnet.org", :target => "child"} Click here to refresh your session
-if current_user == "dpalay"
  %p
    Results from the php script:
    = @result_from_php

  %p
    Cookie Results (The contents of the cookie):
    = @cookie_contents

  %p
    = "There are #{@jsessions.length} sessions"
    -for x in @jsessions
      = x.session_id
      %br