%p
  Results from the php script:
  = @result_from_php

%p
  Cookie Results (The contents of the cookie):
  = @cookie_contents

%p
  = "There are #{@jsessions.length} sessions" 
  -for x in @jsessions
    = x.session_id
    %br