%h1= "#{@user}'s schedule for the #{@week} week of the year"
%table#user_schedule
  %tr
    %td Saturday
    %td= to_block(@results[:sat])
  %tr
    %td Sunday
    %td= to_block(@results[:sun])
  %tr
    %td Monday
    %td= to_block(@results[:mon])
  %tr
    %td Tuesday
    %td= to_block(@results[:tue])
  %tr
    %td Wednesday
    %td= to_block(@results[:wed])
  %tr
    %td Thursday
    %td= to_block(@results[:thu])
  %tr
    %td Friday
    %td= to_block(@results[:fri])


